@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a .net con MVC | CRUD | SQlServer</h1>
    <p>Repositorio <a href="https://github.com/ANG3L-GAMBOA/NetWayni?tab=readme-ov-file">GitHub del Proyecto Documentado</a>.</p>
</div>
